*{box-sizing: border-box;}

body{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    }

h1,h2 {color: #5543a5;}

h1  {font-size: 80px;
    text-align: center;
    margin: 40px 0;
    }

h2  {font-size: 48px;
    margin: 0% ;}

a   {font-style: italic;}

section{overflow: auto;
    padding: 20px 100px;
    border-top: 2px solid #b8abf3;
    }

.foto-CV{
    width: 300px;
    float: right;
    border-radius: 20px;
    margin-left: 0;
    margin-right: 0;
    }

table{
    margin: 25px 0;
    border-spacing: 0;
    }

td{
    text-align: left;
    }

.sloupec{
    text-align: right;
    padding-left: 50px;
    }

footer{
    text-align: center;
    background-color: #5543a5;
    color: white;
    }

