body{
    color: black;
    background-color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    }

h1,h2 {color: #5543a5;}

h1  {font-size: 80px;
    text-align: center;
    margin: 0%;
    }

h2  {font-size: 48px;
    margin: 0% ;}

a   {font-style: italic;}

section{overflow: auto;
    padding: 20px 100px;
    border-top: 2px solid #b8abf3;

    }

.foto-CV {
    width: 300px;
    float: right;
    padding: 0 700px 0 0;
    }



footer{
    text-align: center;
    background-color: #5543a5;
    color: white;
}